
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* styles for the scenes */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        /* font-family: Arial, Helvetica, sans-serif;  <<-- Terry added */
        font-family: "Helvetica Neue";
    }

.vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* 
body {
  display: flex;
  height: 100vh;
  margin: 0;
} /*



/* styles for the session forms */
.session-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  width: 400px;
  height: 420px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform:  translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px black;
  background-color: rgba(240,240,240,0.2);
  border-radius: 12px;
}

.wrapper input {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(240, 240, 240, 0.507);
}

.wrapper p {
  font-weight: bold;
  /* font-size: 13px; */
  /* margin-left: -50%; */
  font-size: 47px; 
  text-align: center;
  margin-bottom: 28px;   
  color: #ddd;
}

.wrapper input[type=text], .wrapper input[type=password] {
  border:  none;
  border-bottom:  1px solid #ddd;
  background:  transparent;
  outline:  none;
  height:  30px;
  font-size:  16px;
  opacity: 1;
  color: rgb(255, 255, 255);
}

.wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.685);
}

/* input[type=submit] */
.wrapper button {
  border: none;
  outline:  none;
  height: 40px;
  background: #f6648bd3;
  font-size: 14px;
  font-weight: bold;
  /*  */
  width: 100%;
  margin-bottom: 20px;
  /* background-color: rgba(240,240,240,0.2); */
  cursor: pointer;
}

/* .wrapper input[type=submit]:hover {
  cursor: pointer;
} */

.wrapper a {
  font-size: 14px;
  text-decoration:  none;
  color: #fff;
  opacity: 0.8;
}

.wrapper a:hover {
  color: #fff;
  opacity: 1;
}

.bottom-text {
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.bottom-text:hover {
  text-decoration: underline;
  color: #f6648b;
}

.overlay-area {
  position:  absolute;
  background-color: rgba(0,0,0,0.4);
  z-index: -5;
  height: 100%;
  width:  100%;
  top: 0;
  bottom: 0;

}

.auth-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.auth-button span:after {
  content: '\27A4';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
    /* color: #ddd; */
}

/* .auth-button span:hover {
  color: #ddd;
} */

.auth-button:hover span {
  padding-right: 25px;
    text-decoration: underline;
}

.auth-button:hover span:after {
  opacity: 1;
  right: 0;
  color: #ddd;
}

.auth-button:hover {
  background-color: #f6648b;
  color: #ddd;
}


.wrapper input:hover {
  border-bottom: 1px solid white;
}

.wrapper input:hover::placeholder {
  color: white;
}

.header-title {
  display: inline-block;
  text-align: center;
  font-size: 180px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
}

.navbar-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: rgba(0,0,0,.2);
}

.header ul {
  text-align: center;
}


.header ul li {
  list-style: none;
  display: inline-block;
}


.header ul li .link {
  display:  block;
  text-decoration: none;
  text-transform: uppercase;
  color:  #fff;
  font-size:  20px;
  letter-spacing: 2px;
  font-weight:  600;
  transition: all ease 0.5s;
  padding: 25px;
}

.header ul li .link:hover {
  background-color: #f6648b;
}

.logo {
 position: absolute;
 top: 1%;
 left: 3%;
 /* padding-top: 25px;
 padding-left: 25px; */
  font-size: 50px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
}

.logo:hover {
  transform: scale(1.03);
  color: #ff3168;
}

.logout {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color:  #fff;
  font-size:  20px;
  letter-spacing: 2px;
  font-weight:  600;
  transition: all ease 0.5s;
}

.logout:hover {
  background-color: #f6648b;
  cursor: pointer;
}

.scene-index {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  text-decoration: none; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 120px;
}

.scene-index-item {
  /* color: black; */
  cursor: pointer;
  /* margin: 18px; */
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 32%;
  border-style: rgb(87, 86, 86) solid;
  border-radius: 12px;
  align-items: center;
  border-width: 0.5px;
  /* background-color: #eee; */
  opacity: 1;
  text-align: center;
}

.scene-index-item img {
  border-radius: 16px;
}

.scene-index-item img:hover {
   transform: scale(1.03);
}



/* styles for the session forms */


/* gave the sounds a grid */
.sound-index {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  text-decoration: none; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 120px;
}


.sound-index-item {
  /* color: black; */
  cursor: pointer;
  /* margin: 18px; */
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 32%;
  border-style: rgb(87, 86, 86) solid;
  border-radius: 12px;
  align-items: center;
  border-width: 0.5px;
  /* background-color: #eee; */
  opacity: 1;
  text-align: center;
  background-color: green;

  height: 200px;
  width: 200px;

}


.sound-index-item:hover {
   transform: scale(1.03);
}

.sound-index-item:nth-child(1){
  background: url('https://is5-ssl.mzstatic.com/image/thumb/Music124/v4/23/8d/d2/238dd2b9-4e93-3dc2-f7f0-113f6c854ea5/00602557608717.rgb.jpg/500x500bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(2){
  background: url('https://upload.wikimedia.org/wikipedia/en/5/58/Humble_kendrick_lamar.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(3){
  background: url('https://is2-ssl.mzstatic.com/image/thumb/Music113/v4/19/2d/c6/192dc60d-1b9b-df33-7954-b40b4cec2c6f/075679850270.jpg/500x500bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.flex-sounds {
  display: flex;
  justify-content: center;
}

.landing-title {
  /* display: inline-block;
  text-align: center; */
  font-size: 300px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
  position: fixed; /* or absolute */
  top: 45%;
  left: 50%;
  /* margin-top: -50px;
  margin-left: -100px; */
   transform: translate(-50%, -50%);
   text-shadow: 2px 2px 4px black;
}

.error-page {
  text-align: center; 
  font-size: 200px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
  position: fixed; /* or absolute */
  top: 30%;
  left: 35%;
  /* margin-top: -50px;
  margin-left: -100px; */
   transform: translate(-50%, -50%);
   text-shadow: 2px 2px 4px black;
}