
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* styles for the scenes */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        /* font-family: Arial, Helvetica, sans-serif;  <<-- Terry added */
        font-family: "Helvetica Neue";
    }

.vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* 
body {
  display: flex;
  height: 100vh;
  margin: 0;
} /*



/* styles for the session forms */
.session-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  width: 400px;
  height: 440px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform:  translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px black;
  background-color: rgba(240,240,240,0.2);
  border-radius: 12px;
}

.wrapper input {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(240, 240, 240, 0.507);
}

.wrapper p {
  font-weight: bold;
  /* font-size: 13px; */
  /* margin-left: -50%; */
  font-size: 47px; 
  text-align: center;
  margin-bottom: 18px;   
  color: #ddd;
}

.wrapper input[type=text], .wrapper input[type=password] {
  border:  none;
  border-bottom:  1px solid #ddd;
  background:  transparent;
  outline:  none;
  height:  30px;
  font-size:  20px;
  opacity: 1;
  color: rgb(255, 255, 255);
}

.wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.685);
}

/* input[type=submit] */
.wrapper button {
  border: none;
  outline:  none;
  height: 40px;
  background: #f6648bd3;
  font-size: 14px;
  font-weight: bold;
  /*  */
  width: 100%;
  margin-bottom: 20px;
  /* background-color: rgba(240,240,240,0.2); */
  cursor: pointer;
}

/* .wrapper input[type=submit]:hover {
  cursor: pointer;
} */

.wrapper a {
  font-size: 14px;
  text-decoration:  none;
  color: #fff;
  opacity: 0.8;
}

.wrapper a:hover {
  color: #fff;
  opacity: 1;
}

.bottom-text {
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.bottom-text:hover {
  text-decoration: underline;
  color: #f6648b;
}

.overlay-area {
  position:  absolute;
  background-color: rgba(0,0,0,0.4);
  z-index: -5;
  height: 100%;
  width:  100%;
  top: 0;
  bottom: 0;

}

.auth-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.auth-button span:after {
  content: '\27A4';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
    /* color: #ddd; */
}

/* .auth-button span:hover {
  color: #ddd;
} */

.auth-button:hover span {
  padding-right: 25px;
    text-decoration: underline;
}

.auth-button:hover span:after {
  opacity: 1;
  right: 0;
  color: #ddd;
}

.auth-button:hover {
  background-color: #f6648b;
  color: #ddd;
}


.wrapper input:hover {
  border-bottom: 1px solid white;
}

.wrapper input:hover::placeholder {
  color: white;
}

.header-title {
  display: inline-block;
  text-align: center;
  font-size: 180px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
}

.navbar-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: rgba(0,0,0,.2);
}

.header ul {
  text-align: center;
}


.header ul li {
  list-style: none;
  display: inline-block;
}


.header ul li .link {
  display:  block;
  text-decoration: none;
  text-transform: uppercase;
  color:  #fff;
  font-size:  20px;
  letter-spacing: 2px;
  font-weight:  600;
  transition: all ease 0.5s;
  padding: 25px;
}

.header ul li .link:hover {
  background-color: #f6648b;
}

.logo {
 position: absolute;
 top: 1%;
 left: 3%;
 /* padding-top: 25px;
 padding-left: 25px; */
  font-size: 50px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
}

.logo:hover {
  transform: scale(1.03);
  color: #ff3168;
}

.logout {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color:  #fff;
  font-size:  20px;
  letter-spacing: 2px;
  font-weight:  600;
  transition: all ease 0.5s;
}

.logout:hover {
  background-color: #f6648b;
  cursor: pointer;
}

.scene-index {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  text-decoration: none; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 120px;
  padding-bottom: 100px;
}

.scene-index-item {
  /* color: black; */
  cursor: pointer;
  /* margin: 18px; */
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 32%;
  border-style: rgb(87, 86, 86) solid;
  border-radius: 12px;
  align-items: center;
  border-width: 0.5px;
  /* background-color: #eee; */
  opacity: 1;
  text-align: center;
  position: relative;
}

.scene-index-item img {
  border-radius: 16px;
}

.scene-index-item:hover {
   transform: scale(1.03);
}



/* styles for the sounds */


/* gave the sounds a grid */
.sound-index {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  text-decoration: none; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 120px;
}


.sound-index-item {
  /* color: black; */
  cursor: pointer;
  /* margin: 18px; */
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 32%;
  border-style: rgb(87, 86, 86) solid;
  border-radius: 12px;
  align-items: center;
  border-width: 0.5px;
  /* background-color: #eee; */
  opacity: 1;
  text-align: center;
  background-color: green;

  height: 200px;
  width: 200px;

}


.sound-index-item:hover {
   transform: scale(1.03);
}


/* url backgrounds for each nth child of sound-index-item ul */
.sound-index-item:nth-child(1){
  background: url('https://is1-ssl.mzstatic.com/image/thumb/Music118/v4/f9/b9/18/f9b91830-d98d-4506-e77c-8028a6a3be6e/00602557365771.rgb.jpg/500x500bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(2){
  background: url('https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/2e/eb/9a/2eeb9ac0-558c-7094-75b9-a4978ed82e9a/jacket_SECL01543B00Z_550.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(3){
  background: url('https://is5-ssl.mzstatic.com/image/thumb/Music128/v4/76/12/79/76127992-688e-193c-077e-b13665b2cfc2/886447066218.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(4){
  background: url('https://is5-ssl.mzstatic.com/image/thumb/Music124/v4/23/8d/d2/238dd2b9-4e93-3dc2-f7f0-113f6c854ea5/00602557608717.rgb.jpg/500x500bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(5){
  background: url('https://is5-ssl.mzstatic.com/image/thumb/Music124/v4/76/d9/f8/76d9f818-9466-fe15-ad13-5c6db92c6ebb/mzi.qaklsiyz.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(6){
  background: url('https://upload.wikimedia.org/wikipedia/en/5/58/Humble_kendrick_lamar.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(7){
  background: url('https://is3-ssl.mzstatic.com/image/thumb/Music114/v4/67/18/78/671878c5-54ae-d855-967c-d894b391177b/cover_remix_hires.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(8){
  background: url('https://is2-ssl.mzstatic.com/image/thumb/Music113/v4/19/2d/c6/192dc60d-1b9b-df33-7954-b40b4cec2c6f/075679850270.jpg/500x500bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(9){
  background: url('https://is5-ssl.mzstatic.com/image/thumb/Music124/v4/52/ac/c7/52acc7e0-4d2e-7ce9-9aad-5f7e51b1b357/asset.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(10){
  background: url('https://is2-ssl.mzstatic.com/image/thumb/Music124/v4/b7/37/bb/b737bb84-7f57-4c21-8624-1324ecc00a00/mzi.yojpvany.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(11){
  background: url('https://is2-ssl.mzstatic.com/image/thumb/Music2/v4/ec/b7/87/ecb787b9-4322-21a6-98ff-3fd568d5f6f4/4988010053543.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}

.sound-index-item:nth-child(12){
  background: url('https://is3-ssl.mzstatic.com/image/thumb/Music124/v4/08/1a/07/081a078a-bb44-57f5-0d47-349d7f135497/614223201122.jpg/600x600bb-60.jpg')  100% no-repeat; 
  background-size:cover; 
}



.flex-sounds {
  display: flex;
  justify-content: center;
}

.landing-title {
  /* display: inline-block;
  text-align: center; */
  font-size: 300px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
  position: fixed; /* or absolute */
  top: 45%;
  left: 50%;
  /* margin-top: -50px;
  margin-left: -100px; */
   transform: translate(-50%, -50%);
   text-shadow: 2px 2px 4px black;
}

.error-page {
  text-align: center; 
  font-size: 200px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
  position: fixed; /* or absolute */
  top: 30%;
  left: 35%;
  /* margin-top: -50px;
  margin-left: -100px; */
   transform: translate(-50%, -50%);
   text-shadow: 2px 2px 4px black;
}

input#un-mute {
    display: none;
}

.unmute img {
    display: none;
}

input#un-mute:checked ~ .unmute img {
    display: initial;
}

input#un-mute:checked ~ .mute img {
    display: none;
}
input#un-mute:checked ~ .mute img {
    display: none;
}

.mute-button {
  /* position: absolute; */
  z-index: 1;
  height: 150px;
  /* display: flex; */
  /* justify-content: center; */
  /* top: 3%;
  right: 3%; */
}
.mute-button img {
  height: 50px;
  width: 50px;
  margin-top: 12px;
  margin-bottom: 18px;
}

label.mute {
  display: flex;
  justify-content: center;
}

.pink-circle {
  position: absolute;
  top: 5%;
  right: 3%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(246, 100, 139);
  display: flex;
  justify-content: center;
}

.excite-index-item-title {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 319px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 0px 0px 16px 16px;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  color: #f6648b;
  padding-top: 5px;
  padding-bottom: 5px;
}

.goal-title {
  text-align: center;
  font-size: 50px;
  /* font-family: Helvetica Neue; */
    font-family: 'Lobster', cursive;

  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;

}

.goal-excite-img{
  padding-top: 20px;
}

.goal-item-container{
  width: 20%;
}

.goal-create-button {
  font-size: 25px;
  color: white;
  padding-top: 50px;
}

.goal-create-submit {
  color: white;
  cursor: pointer;
}

.goal-excite-add {
  /* display: inline-block; */
  color: white;
  font-size: 25px;
  /* margin-top: 12.5px; */
  /* margin-bottom: 12.5px; */
  top: 7.5px;
  right: 17.5px;
  position: absolute;
}

.goal-excite-bubble {
  /* position: absolute; */
  /* top: 5%; */
  /* right: 3%; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(246, 100, 139);
  display: inline-block;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  position: relative;
}

.goal-options {
  /* display: flex;
  justify-content: row; */
  /* display: inline-block; */
}

 /* styles for the modal  */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font: 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 16px;
  /* background: #fff; */
  background-color: rgba(240,240,240,0.2);
  width: 492px;
  height: 595px;
  overflow: scroll;
  border-radius: 16px;
}

.modal-child::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.goal-img-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 30px;
  margin-bottom: 40px;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  text-decoration: none; */
}

.modal-excite-list-item {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  align-items: center;
  /* position: relative; */
  /* text-align: center; */
  margin: 10px;
  /* padding: 10px; */
  border-radius: 16px;
  /* background-color: orange; */
  background-color: #ededed;
  /* height: 30px; */

}

.modal-excite-list-item img {
  border-radius: 16px 0px 0px 16px;
}

.modal-list-title {
  /* position: absolute; */
  margin-left: 120px;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #40434E;
}

.modal-excite-list-title {
  width: 100%;
  background-color: rgba(14, 14, 14, 0.95);
  /* height: 18px; */
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  text-align: center;
  color: rgb(246, 100, 139);
  display: flex;
  justify-content: center;
  font-size: 40px;
  /* margin-top: 10px; */
}

.modal-excite-list-title h1 {
  font-family: 'Lobster', cursive;
}

.modal-excite-list-item:hover {
  transform: scale(1.03);
}

 @media all and (max-width: 1000px) {
  .goal-img-container {
      display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  text-decoration: none;
  }

  .goal-item-container{
        width: 100%;
    }
 }

